# Kubernetes Service
apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}
  labels:
    app: ${APP_NAME}
spec:
  type: ClusterIP
  ports:
    - port: ${PORT}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: ${APP_NAME}
